# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.packages
.pub/
/build/
.idea/
pubspec.lock

# Android specific
android/**/build/
android/.gradle/
android/gradle/
android/app/build/

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS specific
**/.DS_Store

# Android Studio/IntelliJ specific
**/.idea/

# Visual Studio Code specific
.vscode/

# Other
*.log
